.cover__subtitle {
  margin: 32px 0 0;
  max-width: 30.405%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .cover__subtitle {
    max-width: 35.15625%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cover__subtitle {
    max-width: 46.875%;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin: 16px 0 0;
    max-width: 90%;
    font-size: 14px;
    line-height: 1.14;
  }
}
