.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin: 14px 0 24px;
    line-height: 1.0;
  }
}
