@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);

.footer {
  padding: 92px 3.75% 0;
  display: flex;
  justify-content: space-between;
}
